.input {
  width: 100%;
  position: relative;
  height: 50px;
  border-bottom: 1px solid #aaa;
  margin: 10px 0;
}

.input .name {
  position: absolute;
  text-align: left;
  font-weight: 500;
  transition: all 0.5s;
  top: 20px;
  left: 5px;
}

.input .name_focus {
  top: 0px;
  font-size: 0.9rem;
  color: var(--main);
}

.input .input_box {
  width: 100%;
  height: 100%;
  background-color: inherit;
  font-size: 1rem;
  border: none;
  font-family: inherit;
  margin: auto 0 0 0;
  padding: 10px 0 0 5px;
  color: inherit;
}

.input .input_box:focus {
  outline: none;
}

.input_focus {
  border-color: var(--main);
}

.textarea {
  position: relative;
}

.textarea .name {
  position: absolute;
  top: 0;
  transition: all 0.5s;
}

.textarea .name_focus {
  transform: translateY(-20px);
  opacity: 0;
}

.textarea .input_box {
  height: 200px;
  overflow: scroll;
  color: unset !important;
}

.textarea .input_box p {
  color: inherit !important;
  background-color: inherit !important;
  font-family: '__Roboto_Mono_c9cbed' !important;
}

.textarea .input_box p span {
  color: inherit !important;
}

.textarea .input_box:focus {
  outline: none;
}

.button {
  background-color: var(--main);
  width: max-content;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.button button {
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  margin: auto;
  cursor: pointer;
  text-align: center;
  width: max-content;
  height: max-content;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon img {
  width: 100%;
  height: 100%;
}

.UploadPicture {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 375px;
}

.UploadPicture img {
  object-fit: cover;
}

.UploadPicture .tool {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.UploadPicture .tool .icon {
  width: 30px;
  height: 30px;
}

.UploadPicture .tool .icon svg {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.card .image {
  aspect-ratio: 1;
  overflow: hidden;
  margin: auto;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s;
  border-radius: 5px;
}

.card .info {
  height: auto;
  margin: 10px;
  text-align: left;
  margin-top: 10px;
  position: relative;
}

.card .info .text {
  margin: 0;
}

.card .info .text .title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .info .text .sub {
  font-size: 0.85rem;
}

.card .info .text ul {
  padding-left: 7.5%;
  margin-top: 5px;
  min-width: 100%;
  overflow: hidden;
}

.card .info .text ul li {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .info .text .specifications {
  height: 100px;
}

.card .info .button {
  margin: 5px auto 0 0;
  height: max-content;
}

@media (min-width: 768px) {
  .card .info .button {
    margin: auto auto 0 auto;
  }
}

.card .info .addcartButton {
  width: max-content;
  flex-direction: row;
  text-align: center;
  background-color: var(--main);
  color: white;
  padding: 5px;
}

.card .info .addcartButton svg {
  width: 20px;
  height: 20px;
}

.card .info .addcartButton p {
  width: 100%;
  line-height: 20px;
  font-size: 0.75rem;
}
