.text-ellipsis {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputFocusOutlineNone:focus {
    outline: none;

}

.hover-opacity-1:hover {
    opacity: 1 !important;
}

.hover-color-main:hover {
    color: var(--main);
}

.hover-title:hover {
    opacity: 1 !important;
    background-color: rgba(128, 128, 128, 0.1);
}

.dangerousBox img {
    width: 100%;
}

.dangerousBox a {
    text-decoration: underline !important;
}