:root {
    --main: #0066cc;
    --light: #e6f2ff;
    --dark: #000d1a;
    --background-light: #fff;
    --background-dark: #001a33;
    --box-shadow: 0px 5px 40px -20px black;
    --border: 2px solid rgba($color: #888, $alpha: 0.2);
}

@import "./grid.scss";

* {
    margin: 0;
}

html {
    background-color: #444;
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.background_white {
    background-color: white;
}

.light {
    background-color: var(--light);
    color: #222;
}

.background_light {
    background-color: var(--background-light);
    color: #222;
}

.background_dark {
    background-color: var(--background-dark);
    color: white;
}

.dark {
    background-color: var(--dark);
    color: white;
}

.background_black {
    background-color: black
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.loading,
.notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.provider {

    .notice {
        height: max-content;
        text-align: center;
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        transition: all 0.5s;
        padding: 5px 0;
    }

    .notice_open {
        top: 0px;
        z-index: 15;
    }

    .notice_success_true {
        background-color: var(--main);
        color: white;
    }

    .notice_success_fail {
        background-color: red;
        color: white;
    }

    .alert {
        height: max-content;
        width: 100%;
        padding: 5px 0;
        position: fixed;
        top: -150px;
        z-index: 15;
        box-shadow: var(--box-shadow);
        transition: all 0.5s;

        p {
            text-align: center;
        }

        .box {
            display: flex;
            width: max-content;
            margin: auto;

            .button {
                margin: 5px;
            }
        }
    }

    .alert_open {
        top: 0px;

    }
}